* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header */
header {
  background: #cecaff;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 14%) -2px 2px 8px;
  transition: 0.3s;
  display: block;
}

a:hover {
  background-color: #7772ff;
  color: #fff;
  box-shadow: rgb(0 0 0 / 14%) 0px 5px 8px;
  border: 1px solid #7772ff;
  font-size: 1.05rem;
}

/* Tasck Style*/
.container {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
  width: fit-content;
  margin: 5rem auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  grid-column: span 2;
  font-size: 3rem;
  margin-bottom: 2rem;
}

input,
label {
  font-size: 1.5rem;
}

input {
  outline: none;
  border: 1px #ccc solid;
  border-left: 5px #72ffb1 solid;
  padding: 0.75rem;
  margin-top: 1rem;
}
